*{
    box-sizing: border-box;
    margin: 0;

}
@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-thin-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-thin-webfont.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-extralight-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-extralight-webfont.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-light-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-regular-webfont.woff') format('woff');
	font-weight: 400; 
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-extrabold-webfont.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-black-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
body{
    overflow:hidden;
}
a {
    cursor: pointer;
}
.logo h1{
    position: absolute;
    padding: 4vh;
    
    font-family: 'Montserrat';
    color: #FFB715;
    font-weight:600px;
    font-style: normal;
    border-right: rgb(255, 174, 0) solid 1px; 
    z-index: 50;
    background-color: white;


}
.logo span{
    color: #ff7e15;
}
.headerruler{
    border-bottom:  rgb(255, 174, 0) solid 1px; 
    margin-top: 12.5vh;
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 50;
}
.searchbox {
    margin-left:35vh;
    margin-top: 4.5vh;
    position: absolute;
    z-index: 50;
    background-color: white;
}
.searchbox input[type =text]{
    padding: 10px;
    padding-left: 50px;
    width: 108vh;
    border-radius: 20px;
    outline:none;
    background-color: rgb(237, 237, 237);
    border-style: none;
    
}
.searchbox label{
    margin-left: 20px;
    position: absolute;
    margin-top: 10px;
}
.searchbox input[type =text]:focus{
    background-color: #f9e9c2;
    outline:none;
    border-color: #FFB715;
}
.buttons ul{
    display: flex;
    position: absolute;
    margin-left: 142vh;
    margin-top: 5.5vh;
    z-index: 40;
}
.buttons li{
    padding-left: 4vh;
    list-style: none;
    font-size: 0.8rem;

}

.buttons a{
    color:   #000000;
    background-color:  #f1f1f1;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.buttons a:hover{
    background-color:  #fbefd2;
    color:   #ff5e00;

}
.sidenav ul{
    position: absolute;
    margin-top: 14vh;
    padding: 4vh;

}
.sidenav li .active{
    background-color: #FFB715;
}
.sidenav li{
    list-style: none;
    padding-top:8vh;
}
.sidenav a{
    text-decoration: none;
    background-color: #f9e9c3;
    padding: 20px 50px 20px 50px;
    font-family: 'Montserrat';
    color: black;
    font-weight:normal;
    border-radius: 10px;
    transition-duration: 0.3s;
}
.sidenav a:active{
    background-color: #FFB715;
}
.sidenav a:hover{
    background-color: #FFB715;
    scale: 1;


}
.hrruler{
    border-right: #FFB715 solid 1px;
    height: 100%;
    width: 31.1vh;
    margin-top: 12vh;
    position: absolute;
}
.imagecontainer{
    position: absolute;
    background-image: url(../images/image_ray1.jpg);
    width: 1020px;
    height: 250px;
    border-radius: 20px;
    left: 18vw;
    top: 15vh;
    z-index: 40;
}
.imagecontainer1{
    position: absolute;
    background-image: url(../images/image_tray2.jpg);
    width: 250px;
    height: 250px;
    border-radius: 20px;
    left: 80vw;
    top: 15vh;
    z-index: 50;
}
.category{
    position: absolute;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 14vw;
    height: 51vh;
    left: 18vw;
    top: 47vh;
    text-align: left;
    align-items: left;
    justify-content: center;
    border-radius: 20px;
    z-index: 50;
}
.cat1{
    align-items: center;
    justify-content: center;
    
    padding: 30px 60px 0px 30px;
    
}
.cat1 h2{
    
    font-family: 'Montserrat';
    color: black;
    font-weight: bold;

}
.cat1 ul{
    margin-left: -27%;
}
.cat1 li{
    list-style: none;
    padding-top: 50px;
}
.cat1 a{
    background-color: #FFB715;
    padding: 10px 30px 10px 30px;
    
    text-decoration: none;
    font-family: 'Montserrat';
    color: black;
    border-radius: 10px;
}
.background{
    background-color: rgb(246, 246, 246);
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin-top: 12.5vh;
    margin-left: 31.1vh;
    overflow-x:hidden;

}
.foodmenuc{
    top: 47vh;
    left: 63vh;
    z-index: 60;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 46vw;
    height: 450px;
    border-radius: 20px;
}

.foodmenu div{
    margin-top: 50px;
    padding: 20px;
    list-style: none;
    min-width: 200px;
    height: 200px;
    flex-direction: column;
    display: flex;
   

}
.foodmenu{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    text-align: center;
}

.foodmenu img{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    background-position: right bottom;
    transition: all 1s;


}
.foodmenu p,h3{
    text-align: center;
    margin-top: 5px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.foodmenu h3{
    font-size: 1rem;
    color: #ff7e15;
}
.foodmenu ul{
    display: flex;
    margin-left: 2vh;

}
.foodmenuc h2{
    margin-top: 25px;
    margin-left: 25px;
    font-family: 'Montserrat';
    font-weight: bold;
}
.foodmenu a{
    text-decoration: none;
    color: black;
}
.foodmenu img:hover{
    background-color: #fbefd2;
    background-position: left bottom;
}
.menu1{

   height: 350px;
   margin-top: 3vh;
   overflow-y: auto;
   margin-bottom: 600vh;
   border-radius: 20px;
}
.trending{
    position: absolute;
    width: 250px;
    height: 450px;
    z-index: 50;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-left: 155vh;
    margin-top: 47vh;
    border-radius: 20px;
    background-color: white;
}
.trend1{
    padding-top: 65px;
   margin-left: -15px;
   

}
.trendingnews{
    height: 200px;
    
}
.trend1 img{
    position: absolute;
    margin-top: -35px;
    margin-left:150px;
    background-color: #FFB715;
    border-radius: 100px;
    padding: 5px;
}
.trendingnews{
    margin-top: -30px;
}
.trend1 li{
    list-style: none;
    font-family: 'Montserrat';

}
.trend1 p{
    font-size: 9pt;
    margin-top: 3px;
}
.logoutbtn{
    position: absolute;
    z-index: 50;
    margin-top: 90vh;
    margin-left: 5vh;
}
.logoutbtn a{
    text-decoration: none;
    background-color: #ff5e00;
    padding: 20px 50px 20px 50px;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    font-weight:bold;
    border-radius: 10px;


}
::placeholder{
    color: #000000;
    font-family: 'Montserrat';
    font-size: 0.9rem;

}
.profile{
    margin-left: 128vh;
    margin-top: 15vh;
    position: absolute;
    z-index: 71;
    width: 500px;
    height: 700px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border-radius: 20px;
    animation: fadeInAnimation ease 0.5s;
    display: none;
    
    


}
.headertxt h1{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    padding-top: 20px;


}
.profileimage{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    
    align-items: center;
    justify-content: center;
    margin-left: 17vh;
    margin-top: 5vh;
    background-image: url(images/profile.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.details{
    position: absolute;
    margin-left: 3vh;
    margin-top: 30vh;
}
.details li{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 20px;
    list-style: none;

}.subdetails{
    position: absolute;
    margin-left: 35vh;
    margin-top: 30vh;
}
.subdetails li{
    font-family: 'Montserrat';
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    padding-top: 20px;
    list-style: none;

}
.subdetails .mail-text{
     
        width: 110px;           
        white-space: nowrap;      
        overflow: hidden;        
        text-overflow: ellipsis;  
      
}

.profile p{
    margin-left: 53vh;
    margin-top: 2vh;
    
}
.profile a{
    text-decoration: none;
    color: black;
    transition: transform 0.5s ease;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0%{
        opacity: 0;
    }
}
.black{
    background-color: rgba(0, 0, 0, 0.413);
    width: 100%; 
    height:100%;
    z-index: 70;
    position: absolute;
    display: none;
    animation: fadeInAnimation ease 0.5s;
    overflow: hidden;
}
.cart  {
    width:0;
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 70;
    margin-left: 31vh;
    margin-top: 12.9vh;
  }
  
  .cart a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .cart a:hover {
    color: #f1f1f1;
  }
  
  .cart .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
.cart h1{
    color: black;
    font-family: 'Montserrat';
    margin-left: 2vh;
    margin-top: -2vh;
}
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .explore  {
    width:0;
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 60;
    margin-left: 31vh;
    margin-top: 12.9vh;
    overflow: hidden;
  }
  
  .explore a {
    

  }
  
  .explore a:hover {
    color: #fa7e09;
  }
  
  .explore .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
.explore h1{
    color: black;
    font-family: 'Montserrat';
    margin-left: 2vh;
    margin-top: -2vh;
}
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .favorite {
    width:0;
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 60;
    margin-left: 31vh;
    margin-top: 12.9vh;
  }
  
  .favorite a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .favorite a:hover {
    color: #f1f1f1;
  }
  
  .favorite .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
.favorite h1{
    color: black;
    font-family: 'Montserrat';
    margin-left: 2vh;
    margin-top: -2vh;
}
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
.foodexp{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-between;
    align-content: space-between;
}
.foodexp a{
    padding: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 4vh;
}
.foodexp img{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    background-position: right bottom;
    transition: all 1s;


}
.foodexp p,h3{
    text-align: center;
    margin-top: 5px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.foodexp h3{
    font-size: 1rem;
    color: #ff7e15;
}
.foodexp ul{
    display: flex;
    margin-left: 2vh;

}
.foodexp li{
    list-style: none;
    padding-left: 50px;
}
.foodmenuc h2{
    margin-top: 25px;
    margin-left: 25px;
    font-family: 'Montserrat';
    font-weight: bold;
}
/*
.foodexp img:hover{
    background-color: #fbefd2;
    background-position: left bottom;
}*/
.foodexp{
   
}
.foodexp a{
    margin-top: 50px;
    padding: 20px;
    list-style: none;
    min-width: 200px;
    height: 200px;
    flex-direction: column;
    display: flex;
    
}
.menu2{
    overflow-y: scroll;
    height: 700px;
    margin-top: 2vh;
    
    width: 80vw;
    
    

}
.filter {
    width:0;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 70;
    margin-left: 31vh;
    margin-top: 12.9vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .filtercont ul{
    align-items: center;
    position:absolute;
    margin-left: 5vh;

  }

 .filtercont li{
    padding-top: 70px;
    font-family: 'Montserrat';
    list-style: none;

 }
 .filtercont a{
    background-color: #f9c345;
    padding: 20px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
 }
 .closebtnfliter{
    color: black;
    margin-left: 25vh;
 }
 .filter1 {
    width:980px;
    position: absolute;
    z-index: 80;
    
    height: 500px;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 25vh;
    margin-right: 25vh;
    border-radius: 20px;
    display: none;
    animation: fadeInAnimation ease 0.5s;
    
  }
  .filter1 img {
    margin-left: 20px;
  }
  .filter1 h1{
    position: absolute;
    margin-top: -40vh;
    margin-left: 50vh;
    font-family: 'Montserrat';

  }
  .price{
    font-family: 'Montserrat';
    position: absolute;
    margin-top: -35vh;
    margin-left: 50vh;
    font-size: 5rem;
  }
  .price span{
    color: #fa7e09;
    font-size: 2rem;
  }
  .qtynum{
    padding: 10px;
    width: 450px;
    position: absolute;
    margin-left: 50vh;
    margin-top: -10vh;
    border-radius: 20px;
  }
  .filter1 p{
    position: absolute;
    margin-top: -23vh;
    margin-left: 50vh;
    margin-right: 15vh;
    font-family: 'Montserrat';
    font-size: 0.8rem;
  }
  .filter1 button{
    
    width:200px;
    height: 50px;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    font-size: 13pt;
    border: 1px solid  #ff5e00;
    font-family: 'Montserrat';
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-left: 48vh;
    margin-top: -5vh;
    scale:80%;
    cursor: pointer;
    transition-duration: 0.3s
  }

  .filter1 button:hover{
    background-color: #ff5e00;
    border: none;
    color: white;
  }
  .blackcont{
    width: 1450px;
    height: 1000px;
    z-index: 70;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.409);
    margin-left: 31vh;
    margin-top: 12.5vh;
    display: none;
    animation: fadeInAnimation ease 0.5s;
  }
  .filter1 .addcart
   { width:200px;
    height: 50px;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    font-size: 13pt;
    border: 1px solid  #f7be05;
    font-family: 'Montserrat';
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-left: 25vw;
    margin-top: -2vh;

    scale:80%;
    cursor: pointer;
    transition-duration: 0.3s;
    position: absolute;

}
    

.filter1 .addcart:hover{
        background-color: #f7be05;
        border: none;
        color: black;
}
#fav{
    margin-left: 37vw;
    margin-top: -0.5vh;
}

.filter1 a{
    position: absolute;
    margin-top: -1vh;
    margin-left: 24vh;
    font-size: 1.5rem;
    color: red;
}
.buttons .badge button {
    position: absolute;
    top: -18px;
    margin-right: 20%;
    padding: 5px 10px 5px 10px;
    border-radius: 100%;
    background-color: red;
    color: white;
    border: none;
  }
  .cart-items {
    display: inline-block;
    gap: 20px;
    height: 25vh;
    width: 80vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fefefe !important;
    
  }
  .cart-items .text-des{
    margin-top:2vh;
    margin-left: 11vw;
    
    font-family: 'Montserrat';
    
  }

  .cart-items h1{
    margin-top: -15vh;
    margin-left: 11vw;
    font-size: 3.2vmin;
  }
.imanegr .cart-items .cart-item-actions{
    margin-top: 15vh;
    display: flex;
    margin-left: -8vw;
    gap:20px;
}

.del{
    font-family: 'Montserrat';
    font-weight: 500 !important;
    color: #000000 !important;
    background-color: transparent;
    text-align: center;
    padding: 10px !important;
    font-size: 1.5vmin !important;
    border-radius: 8px;
    margin-top: 2vh;
    border:0.5px solid #ff0000;
    display: inline-block;
    transition: all 0.3s ease-out;
   
}
.del:hover{
    background: #ff0000;
    color: #ffffff !important;

}
.view-item-btn{
    font-family: 'Montserrat';
    font-weight: 500 !important;
    color: #000000 !important;
    background: #ffc400;
    text-align: center;
    padding: 10px !important;
    font-size: 1.5vmin !important;
    border-radius: 8px;
    margin-top: 2vh;
    display: inline-block;
    
   
}

.del-btn{
    margin-top: -2vh;
    margin-left: 57vw;
    display: flex;
    gap:20px;
    
}
.imanegr .cart-items{
    background-color: #f1f1f1;
    padding:20px;
    margin:2vh 2vw 2vh 2vw;
    border-radius: 10px;

}
.cart-scroller{
    margin-top: 5vh;
    height: 70vh;
    overflow: scroll ;
}
.sub-total{
    top: 80.6vh;
    width: 100%;
    position: absolute;
    background-color: white;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    gap:123vh;
   
    
}
.sub-total h3{
    text-align: left;
    padding: 10px 0px 10px 25px;

}
.sub-total .check{
    font-family: 'Montserrat';
    font-weight: 500 !important;
    color: #ffffff !important;
    background: #ff0000;
    text-align: center;
    padding: 10px !important;
    font-size: 1.5vmin !important;
    border-radius: 8px;
    
    
    display: inline-block;

}
.checkout{
    margin-top: 1vh;
}
.orders-container  {
    width:0;
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 60;
    left: 31vh;
    top: 12.9vh;
    overflow: hidden;
  }
  .orders-container h1{
    color: black;
    font-family: 'Montserrat';
    margin-left: 2vh;
    margin-top: -2vh;
}
.orders-table{
    font-family: 'Montserrat';
    border-collapse: collapse;
   width: 97%;
   margin-left: 1vw;
   margin-right: 5vw;
   margin-top: 3vh;
}
.orders-table th{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffd500;
  color: rgb(0, 0, 0);
}
.orders-table td, .orders-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
.search-results {
    display: none;
    width:1405px;
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 60;
    left: 31vh;
    top: 12.9vh;
    overflow: hidden;
  }  

.search-results h1{
    color: black;
    font-family: 'Montserrat';
    margin-left: 2vh;
    margin-top: -2vh;
}
.search-res {
    background-color: #f1f1f1;
    width: 250px;
    height: 250px;
    border-radius: 14px;
}
.searched-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #000000;
    
}
.searched-container h2,p{
    margin-top: 2vh;
    font-family: 'Montserrat';
}
.searched-container p{
    font-size:2vmin;
    margin-top: 1vh;
}
.searching-container{
    display: flex;
    gap: 30px;
    margin-left: 1vw;
    margin-top: 4vh;
}