@media (max-width: 1920px) {
    .navbar {
        margin-left: 40%;
    }
  
    .welcome {
        margin-left: 6vmax;
        margin-top: 10vmax;
    }
  
    .container {
        padding: 1.5vmax;
    }
  
    .imager {
        margin-left: 50%;
        top: -5%;
    }
  
    .subtext {
        margin-left: 7rem;
        margin-right: 60rem;
        margin-top: -60rem;
    }
  
    .learn {
        margin-left: 7rem;
        margin-top: -50rem;
    }
  
    .container1 h1 {
        font-size: 4rem;
    }
  
    .container1 h2 {
        font-size: 4rem;
    }
  
    .container1 p {
        margin-left: 10%;
    }
  
    .clearfix {
        margin-left: 10px;
    }
  }
  @media (max-width: 1680px) {
    .navbar {
        margin-left: 32%;
    }
  
    .welcome {
        margin-left: 6vmax;
        margin-top: 10vmax;
    }
  
    .container {
        padding: 1.5vmax;
    }
  
    .imager {
        margin-left: 50%;
        top: -5%;
    }
  
    .subtext {
        margin-left: 7rem;
        margin-right: 60rem;
        margin-top: -40rem;
    }
  
    .learn {
        margin-left: 7rem;
        margin-top: -27rem;
    }
  
    .container1 h1 {
        font-size: 4rem;
    }
  
    .container1 h2 {
        font-size: 4rem;
    }
  
    .container1 p {
        margin-left: 10%;
    }
  
    .clearfix {
        margin-left: 10px;
    }
  }
  
  /* For devices with a screen width less than or equal to 768px (e.g., tablets in portrait mode, large phones) */
  @media (max-width: 768px) {
    .resnav{
        
        display: block;
        width: 50px;
        margin-top:-1.8rem;
        padding-right:  20px;
        padding: 15px;
        
      }

    .navbar {
        
        margin-left: 0;
        text-align: center;
    }
  
    .navbar ul {
        display: none;
        padding-top: 1rem;
    }
  
    .navbar li {
        display: block;
        padding: 10px;
    }
  
    .welcome {
        margin-left: 2vmax;
        margin-top: 13vmax;
        text-align: center;
    }
  
    .imager {
        margin-left: 0;
        top: 20rem;
        scale: 0.8;
    }
  
    .subtext, .learn {
        margin-left: 0;
        margin-right: 0;
        margin-top: 3rem;
        text-align: center;
        margin: 40px;
    }
  
    .container1 h1 {
        font-size: 3rem;
    }
  
    .container1 h2 {
        font-size: 3rem;
    }
  
    .container1 p {
        margin-left: 5%;
    }
  
    .clearfix {
        margin-left: 0;
    }
    .banner1{
      margin-top: 20rem;
      padding-left:-20rem;
    }
    .banner2{
      padding-left: -20rem;
      margin-top: 20rem;
    }
    .foodbanner{
      padding-left: -20rem;
    }
    .learn{
      padding-top: 30%;
      padding-left: 30%;
    }
    .learn a{
      font-size: 2rem;
    }
  }
  
  /* For devices with a screen width less than or equal to 480px (e.g., mobile phones) */
  @media (max-width: 480px) {
    .navbar ul {
        font-size: 0.8rem;
        display: none;
    }
  
    .login a {
        font-size: 0.8rem;
        padding: 6px 20px;
    }
  
    .welcome h1 {
        font-size: 1rem;
    }
  
    .welcome h2 {
        font-size: 2rem;
    }
  
    .container1 h1 {
        font-size: 2.5rem;
    }
  
    .container1 h2 {
        font-size: 2.5rem;
    }
  
    .container1 p {
        font-size: 0.9rem;
        margin-left: 2%;
    }
  
    .clearfix {
        margin-left: 0;
    }
    .imager {
      margin-left: 0;
      top: 15rem;
      scale: 0.8;
      display: none;
  }
  
  }